<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Conductor Admin</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/admin.js") %>"></script>
  </head>
  <body>
    <nav role="navigation" class="fixed top-0 w-full flex bg-gray-90 px-8 py-2 items-center">
      <div class="flex-initial">
        <h1 class="font-sans text-3xl text-white"><%= link "Conductor", to: Routes.admin_home_path(@conn, :index) %></h1>
      </div>
      <div class="flex-1 flex items-center mx-10 text-white">
        <%= link "Redirects", to: Routes.admin_redirect_path(@conn, :index), class: "font-sans hover:underline" %>
        <%= link "Users", to: Routes.admin_user_path(@conn, :index), class: "font-sans hover:underline ml-4" %>
      </div>
      <div class="font-sans text-white">
        <b><%= current_user(@conn).first_name %> <%= current_user(@conn).last_name %></b>
        <%= link "Log out", to: Routes.auth_path(@conn, :logout), class: 'ml-2 hover:underline' %>
      </div>
    </nav>

    <main role="main" class="container mx-auto mt-24">
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info mb-6" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger mb-6" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <%= @inner_content %>
    </main>
  </body>
</html>
