<div class="absolute inset-0 flex items-center justify-center">
  <div class="text-center">
    <h1 class="font-serif text-4xl mb-6">Conductor</h1>
    <%= link("Log in with Google", to: Routes.auth_path(@conn, :request, "google"), class: "btn btn-lg btn-black") %>
  </div>
</div>
