<h1 class="font-serif text-4xl">New Redirect</h1>
<hr class="border-gray-10 my-2">

<div class="mx-auto max-w-lg">
  <%= render ConductorWeb.Admin.RedirectView, "form.html",
      Map.merge(assigns, %{
        submit_text: "Create Redirect",
        action: Routes.admin_redirect_path(@conn, :create)
      })
  %>
</div>
